<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.limsanity.firstapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.ConnectedDevicesActivity"
            android:label="Connected Devices"
            android:theme="@style/BackActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.AlertItemActivity"
            android:label="Level 45 Power Core"
            android:theme="@style/BackActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.FixtureActivity"
            android:label="Connected Devices"
            android:theme="@style/BackActivity"
            android:parentActivityName=".Activities.MainActivity" />
    </application>

</manifest>